@charset "UTF-8";

/* Para Impressão */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 20px;
    text-align: center;
}

menu {
    display: none;
}

article {
    padding: 10px;
}

main::after {
    content: 'Para mais notícias, acesse: www.maraliaquel.com.br';
    text-align: center;
    font-size: 0.6em;
    margin-top: 100%;
}

article h2 {
    padding: 10px;
}

article p {
    text-indent: 30px;
}